/* ---- map title ---- */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0;
  border-radius: 2px;
  border-color: rgba(255, 255, 255, 0.5);
}

.info h2 {
  margin: 3px;
  color: rgb(255, 255, 255);
}

img {
  border-radius: 5px;
}

.leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.5);
}

/* .leaflet-popup-scrolled {} */

tr {
  color: rgb(255, 255, 255);
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0.5);
}

.leaflet-control-layers-expanded {
  background: rgba(0, 0, 0, 0.5);
}

.leaflet-control-layers-selector,
span {
  color: rgb(255, 255, 255);
}